body{
    background-color: #f8f8ea;
}
.tren{
    padding: 20px 10%;
    background-color: var(--color3);
    color: white;
}
.tren a{
    color: white;

}
.tren i{
    color: white;
    margin: 0 10px;
}
.mom::after{
    display: table;
    content:"";
    clear: both;
    max-width: 100%;
}
.son1{
    width: 75%;
    float: left;
}
.son2{
    width: 25%;
    float: left;
}
.mom{
    margin: 5% 0;
}
ul li{
    padding: 0 20px;
    display: inline-block;

}
ul a{
    color: black;
}
ul a:hover{
    color: aliceblue;
}
ul{
    padding: 20px;
    list-style-type: none;
}

.con2{
    width: 80%;
    float: left;
    margin: 0 10%;
}
.me::after{
    content: "";
    display: table;
    clear: both;
    max-width: 100%;
}
.dad{
    width: 47.5%;
    float:left;
    border-radius: 20px;
    border: 1px solid black;
    padding: 3%;
}
.tong{
    padding: 5% 15%
}
.dien{
    margin-top: 20px;
}

